<section class="problem">
  <h1>Fibonacci numbers</h1>

  <%= explanation do %>
    A fibonacci number is the sum of the two previous numbers
    in the sequence.

    These are the first 10 fibonacci numbers:  1 1 2 3 5 8 13 21 34 55
  <% end %>

  <%= code_inline do %>
    Input:   5
    Output:  5

    Input:   12
    Output:  144
  <% end %>
</section>

<%= solutions_table([:bad, :average, :average, :good]) do %>
  Recursion            O(2^n)   O(n)
  Memoization          O(n)     O(n)
  Dynamic programming  O(n)     O(n)
  Iterative            O(n)     O(1)
<% end %>

<section class="solutions">
  <section class="solution">
    <h2 class="bad">Solution 1: Recursion</h2>

    <div class="explanation">
    </div>
    <%= rb_code "code/problems/fibonacci_numbers/s1.rb" %>
  </section>

  <section class="solution">
    <h2 class="average">Solution 2: Memoization</h2>

    <div class="explanation">
    </div>
    <%= rb_code "code/problems/fibonacci_numbers/s2.rb" %>
  </section>

  <section class="solution">
    <h2 class="average">Solution 3: Dynamic programming</h2>

    <div class="explanation">
    </div>
    <%= rb_code "code/problems/fibonacci_numbers/s3.rb" %>
  </section>

  <section class="solution">
    <h2 class="good">Solution 4: Iterative</h2>

    <div class="explanation">
    </div>
    <%= rb_code "code/problems/fibonacci_numbers/s4.rb" %>
  </section>
</section>
