<section class="problem">
  <h1>Flood fill</h1>

  <%= explanation do %>
    Given a pixel coordinate in an m x n image, convert all
    connected pixels of the same color to a given color.
  <% end %>

  <%= code_inline do %>
    Input:   image = 1 1 1
                     0 1 1
                     0 0 1
             coordinates = [0, 0]
             color = 2
    Output:  2 2 2
             0 2 2
             0 0 2
  <% end %>
</section>

<%= solutions_table do %>
  Recursion            O(2^n)   O(n)
  Memoization          O(n)     O(n)
  Dynamic programming  O(n)     O(n)
  Iterative            O(n)     O(1)
<% end %>

<section class="solutions">
  <section class="solution">
    <h2>Solution 1: Depth-first search</h2>
    <%= complexity_table do %>
      Time   O(mn)
      Space  O(mn)
    <% end %>
  </section>

  <section class="solution">
    <h2>Solution 2: Breadth-first search</h2>
    <%= complexity_table do %>
      Time   O(mn)
      Space  O(mn)
    <% end %>
  </section>
</section>
