<div class="container">
  <h1>Binary tree traversal</h1>

  <%= code_block "app/code/binary_tree_traversal/tree_node.rb" %>

  <h2>Depth-first traversal</h2>
  <div>
    Visiting fully visiting each branch of a tree before
    visitng the next branch.
  </div>

  <div>Inorder</div>
  <%= code_block "app/code/binary_tree_traversal/inorder.rb" %>
  <%= code_block "app/code/binary_tree_traversal/inorder_iterative.rb" %>

  <div>Preorder</div>
  <%= code_block "app/code/binary_tree_traversal/preorder.rb" %>
  <%= code_block "app/code/binary_tree_traversal/preorder_iterative.rb" %>

  <div>Postorder</div>
  <%= code_block "app/code/binary_tree_traversal/postorder.rb" %>
  <%= code_block "app/code/binary_tree_traversal/postorder_iterative.rb" %>

  <h2>Breadth-first traversal</h2>
  <div>
    Visiting each level of the tree before visiting the
    next level.
  </div>

  <div>Level-order</div>
  <%= code_block "app/code/binary_tree_traversal/levelorder_iterative.rb" %>
</div>
