<div class="container">
  <h1>Sorting algorithms</h1>

  <section>
    <h2>Comparison sorts</h2>

    <h3>Bubble sort</h3>
    <%= rb_code("code/algorithms/sorts/bubble_sort.rb") %>
    <div>
      Time complexity
      Best O(n)
      Worst O(n<sup>2</sup>)
      Average O(n<sup>2</sup>)
    </div>
    <div>
      Space complexity O(1)
    </div>

    <h3>Insertion sort</h3>
    <%= rb_code("code/algorithms/sorts/insertion_sort.rb") %>

    <h3>Selection sort</h3>
    <%= rb_code("code/algorithms/sorts/selection_sort.rb") %>

    <h3>Heap sort</h3>
    <%= rb_code("code/algorithms/sorts/heap_sort.rb") %>
  </section>

  <section>
    <h2>Non-comparison sorts</h2>

    <h3>Merge sort</h3>
    <%= rb_code("code/algorithms/sorts/merge_sort.rb") %>

    <h3>Quick sort</h3>
    <%= rb_code("code/algorithms/sorts/quick_sort.rb") %>

    <h3>Counting sort</h3>
    <%= rb_code("code/algorithms/sorts/counting_sort.rb") %>

    <h3>Radix sort</h3>
    <%= rb_code("code/algorithms/sorts/radix_sort.rb") %>
  </section>
</div>
