<div class="container top-margin">
  <div class="intro">
    Algorithms, data structures, and code problems.
    <br>
    All with code examples, visual explanations,
    and links to great resources.
  </div>

  <section class="margin-bottom">
    <a href="/algorithms">Algorithms</a>
    <ul>
      <% @algorithms.each do |algo| %>
        <li>
          <a href="/<%= algo %>">
           <%= algo.gsub(/-/, ' ').capitalize %>
          </a>
        </li>
      <% end %>
    </ul>

    <a href="/data-structures">Data structures</a>
    <ul>
      <% @data_structures.each do |ds| %>
        <li>
          <a href="/<%= ds %>">
            <%= ds.gsub(/-/, ' ').capitalize %>
          </a>
        </li>
      <% end %>
    </ul>

    <a href="/problems">Problems</a>
    <ul>
      <% @problems.each do |problem| %>
        <li>
          <a href="/problems/<%= problem %>">
            <%= problem.gsub(/-/, ' ').capitalize %>
          </a>
        </li>
      <% end %>
    </ul>
  </section>
</div>
