<div class="container">
  <h1>Sorting algorithms</h1>

  <h2>Bubble sort</h2>
  <pre><%= code_block("app/code/bubble_sort.rb") %></pre>
  <div>
    Time complexity
    Best O(n)
    Worst O(n^2)
    Average O(n^2)
  </div>
  <div>
    Space complexity O(1)
  </div>

  <h2>Selection sort</h2>
  <pre><%= code_block("app/code/selection_sort.rb") %></pre>

  <h2>Insertion sort</h2>
  <pre><%= code_block("app/code/insertion_sort.rb") %></pre>

  <h2>Merge sort</h2>
  <pre><%= code_block("app/code/merge_sort.rb") %></pre>

  <h2>Quick sort</h2>
  <pre><%= code_block("app/code/quick_sort.rb") %></pre>

  <h2>Counting sort</h2>
  <pre><%= code_block("app/code/counting_sort.rb") %></pre>

  <h2>Radix sort</h2>
  <pre><%= code_block("app/code/radix_sort.rb") %></pre>

  <h2>Heap sort</h2>
  <pre><%= code_block("app/code/heap_sort.rb") %></pre>
</div>
